*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.first-title{
    text-align: center;
    padding-top: 6px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 10px;
}
.logo{
    padding: 0 30px;
}
.logo img{
    height: 15px;
    width: 50px;
}
.nav-links{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    border-radius: 20px;
    margin-right: 10px;
    border: 1px solid black;
    overflow: hidden;
    padding: none;
}
.nav-links span{
    color: red;
}
.links ul{
    display: flex;
}
.nav-links ul li{
    list-style-type: none;
    padding:2px 14px;
    font-weight: 500;
}
.nav-links ul li:hover{
    background-color: blue;
}
.nav-links ul li a{
    text-decoration: none;
}
.sign{
    flex-basis: flex-end;
}
.sign ul{
    display: flex;
}


/* scrollbar settings */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #167085;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
